services:
  certbot:
    image: certbot/certbot
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    restart: unless-stopped
    command: redis-server --appendonly yes

  backend:
    build:
      context: ../../backend
      dockerfile: ../infrastructure/docker/Dockerfile.backend.prod
    env_file:
      - ../../.env
    depends_on:
      - redis
    restart: unless-stopped

  celery:
    build:
      context: ../../backend
      dockerfile: ../infrastructure/docker/Dockerfile.backend.prod
    env_file:
      - ../../.env
    depends_on:
      - redis
    restart: unless-stopped
    command: celery -A glade.celery_app worker --loglevel=info

  nginx:
    build:
      context: ../..
      dockerfile: infrastructure/docker/Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    depends_on:
      - backend
    restart: unless-stopped
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

volumes:
  redis_data:
  certbot_conf:
  certbot_www:
